* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 70%;
    margin: auto;
}

.intro {
    text-align: center;
    margin-top: 40px;
}

.intro h1 {
    color: pink;
    font-family: 'Fredoka One', sans-serif;
    font-size: 35px;
}

.intro p {
    margin-top: 30px;
}

.columns {
    margin: 20px;
}


.col {
    float: left;
    width: calc(100% / 3);
    padding: 10px;
}


.col a {
    text-decoration: none;
    color: #00b4d8;
    display: block;
}

.card img {
    height: 100px;
    display: inline-block;
    vertical-align: middle;
}

.col::after {
    content: "";
    clear: both;
    display: table;
}

.card {
    color: white;
    background-color: #1d3557;
    min-width: 330.22px;
}

.text {
    display: inline-block;
    vertical-align: middle;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}